dpa_dea
nmass_ref
nmass
psmc
xija/*.c
xija/*.so
NOTES.paper
test_write.json
fit
fit.*
ctypes_example/
*.so
*.so.*
GUI_play/
build/
crap*
junk*
lopy/
twodof/
dist/
MANIFEST
*.png
doc/_build
doc/_static
doc/_templates
*.pyc
models/
.nfs*
